/*
Theme Name: City Lift: Version 2
Theme URI: http://allisinc.com
Description: Design by Allis, Inc
Author: Allis
Author URI: http://allisinc.com
Version: 2.0
*/
/* @import must be at top of file, otherwise CSS will not work */
@import url("http://hello.myfonts.net/count/2dcc31");

@font-face{font-family:'AvenirNextLTPro-Cn'; src:url("fonts/static/2DCC31_0_0.eot"); src:url("fonts/static/2DCC31_0_0-.eot#iefix") format("embedded-opentype"), url("fonts/static/2DCC31_0_0.woff2") format("woff2"),url("fonts/static/2DCC31_0_0.woff") format("woff"),url("fonts/static/2DCC31_0_0.ttf") format("truetype")}

@font-face{font-family:'AvenirNextLTPro-BoldCn';src:url("fonts/static/2DCC31_1_0.eot");src:url("fonts/static/2DCC31_1_0-.eot#iefix") format("embedded-opentype"),url("fonts/static/2DCC31_1_0.woff2") format("woff2"),url("fonts/static/2DCC31_1_0.woff") format("woff"),url("fonts/static/2DCC31_1_0.ttf") format("truetype")}

/* Reset CSS
 * --------------------------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}
a{
	text-decoration:none;
}
table {
    border-spacing: 0;    
}
fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
strong{
	font-weight: bold;
}
ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}
caption,th {
    text-align: left;

}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
    margin:0;
    padding:0;
    color:#444;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border: 0;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #fff;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #fff;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #fff;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    #fff;
}

/*********************************************************
Get it started
*********************************************************/
#top {
    position: absolute;
    top: 0;
    left: 0;
}

.mobile-hide {
    display: none;
}
.mobile-show{
    display: inline-block;
}

html,body{
	height: 100%;
	width: 100%;
    font-family: "AvenirNextLTPro-Cn",sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: #333;
    background-color: #eaeff0;
}

h1,h2 {
    font-family: "AvenirNextLTPro-BoldCn",sans-serif;
    font-weight: 100;
}

a {
    -webkit-transition: color .5s ease-out;
  	-ms-transition: color .5s ease-out;
  	transition: color .5s ease-out;
}

div {
    box-sizing: border-box;
}

.contained {
    width: 90%;
    margin: 0 5%;
    overflow: hidden;
}

.middle {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.col-l {
    width: 100%;
}

.col-l svg {
    width: 100px;
    height: 100px;
    margin-bottom: 12px;
}

.col-r, .events_listing {
    width: 100%;
}
.col-r h3, .events_listing h3 {
    color: #1fb3ea;
    font-weight: normal;
    font-family: "AvenirNextLTPro-Cn",sans-serif;
    font-size: 28px;
}
.events_listing h3,.events_listing h3 b {line-height:1;}
.events_listing h3 {margin-bottom:5px;}

.col-r h4, .events_listing h4 {
    font-weight: normal;
    font-family: "AvenirNextLTPro-Cn",sans-serif;
    color: #1fb3ea;
    font-size: 20px;
    text-decoration: none;
}

.col-r p, .events_listing p {
    font-size: 20px;
    line-height: 28px;
    color: #8a9298;
    margin-bottom: 24px;
}

ol.events_listing.contained.col-padding {width:100%; padding:0; margin:50px auto 100px; list-style:none; display:flex; flex-wrap:wrap;}
ol.events_listing li {width:45%; margin:0 2.5%; padding:50px 0; border-bottom:5px dotted #ddd; font-size:28px;}

.juxtapose-wrap {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 25px;
	height: 0;
}
.juxtapose-wrap iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: none;
}

@media only screen and (max-width : 919px) {
	ol.events_listing li {width:90%; margin:0 5%;}
}

.events_listing p {margin-bottom:0;}
.events_listing p.event_url {font-size:15px; white-space:nowrap; overflow:hidden; -o-text-overflow:ellipsis; -ms-text-overflow:ellipsis; text-overflow:ellipsis;}
.events_listing p.event_url a {color:#1fb3ea;}

.col-r ul li, .events_listing ul li {
    color: #8a9298;
    font-size: 20px;
    margin-bottom: 10px;
}

.col-r ul, .events_listing ul {
    margin-bottom: 20px;
}

.col-r ul li, .events_listing ul li {
    margin-bottom: 10px;
    list-style-type: disc; 
    list-style-position: inside;
    padding-left: 5px;
}

.col-padding {
    padding-top: 20px;
    padding-bottom: 20px;
}

section .col-padding:last-child {
    padding-bottom: 40px;
}

.svg-wrapper svg path, .svg-wrapper svg polygon, .svg-wrapper svg rect, .svg-wrapper svg circle {
    fill: #eaeff0;
    -webkit-transition: fill .5s ease-out;
    -ms-transition: fill .5s ease-out;
    transition: fill .5s ease-out;
}

.svg-wrapper.blue svg path, 
.svg-wrapper.blue  svg polygon, 
.svg-wrapper.blue  svg rect, 
.svg-wrapper.blue  svg circle {
    fill: #a7d9eb;
    -webkit-transition: fill .4s ease-out;
    -ms-transition: fill .4s ease-out;
    transition: fill .4s ease-out;
}


.blue-btn {
    cursor: pointer;
    border: 0;
    background: transparent;
    outline: 0;
    text-decoration: none;
    line-height: 20px;
    color: #fff;
    padding: 12px 50px 10px 20px;
    margin: 0;
    font-size: 16px;
    font-family: "AvenirNextLTPro-BoldCn", sans-serif;
    font-weight: 100;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    background-clip: padding-box;
    border-radius: 0px;
    background: url("img/btn-arrow.png") no-repeat;
    background-color: #00a7e6;
    text-transform: uppercase;
    background-position: 90% 11px;
    transition: background-position .5s ease-in-out;
    display: block;
    -webkit-font-smoothing: antialiased;
    -webkit-transition: all .5s ease-out;
    -ms-transition: all .5s ease-out;
    transition: all .5s ease-out;
    text-decoration: none !important;
}

.tble {
    display: table;
}

.td-50 {
    display: block;
    width: 100%;
}

span.font-bold {
    font-family: "AvenirNextLTPro-BoldCn",sans-serif;
}

/*********************************************************
Header
*********************************************************/
header {
    background-color: #fff;
    height: 75px;
    width: 100%;
    -webkit-transition: all .5s ease-out;
  	-ms-transition: all .5s ease-out;
  	transition: all .5s ease-out;
    position: fixed;
    z-index: 100;
    overflow: hidden;
    top: 0;
}

.header-contained {
    width: 90%;
    box-sizing: border-box;
    margin: 0 5%;
    display: table;
    height: 75px;
}

.header-logo{
    display: table-cell;
    vertical-align: middle;
    width: 20%;
}

.header-logo a {
    margin-top: 8px;
    width: 116px;
    height: 40px;   
	background: url("img/city-lift-logo-mobile.png") center center no-repeat;
    background-size: contain;
    display: inline-block;
}

.header-main,
.header-secondary{
    display: none;
}

#header-button {
	position: fixed;
    top: 30px;
    right: 5%;
    z-index: 10001;
}

#header-button .toggle {
    display: block;
    float: left;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
	cursor: pointer;
}

#header-button .toggle span {
    width: 22px;
    height: 2px;
    background: #1fb3ea;
    margin-bottom: 4px;
    display: block;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}


#header-button.active .toggle {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#header-button.active .toggle .t1 {
    -webkit-transform: translateY(4px);
    -ms-transform: translateY(4px);
    transform: translateY(4px);
}

#header-button.active .toggle .t2 {
    opacity: 0;
}

#header-button.active .toggle .t3 {
    -webkit-transform: rotate(-90deg) translateX(8px);
    -ms-transform: rotate(-90deg) translateX(8px);
    transform: rotate(-90deg) translateX(8px);
}

#nav-mobile {
    position: fixed;
    width: 100%;
    height: calc(100% - 75px);
    top: 75px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
    -ms-transition: opacity 0.5s, visibility 0s 0.5s;
    transition: opacity 0.5s, visibility 0s 0.5s;
    background-color: rgba(0,174,239,0.9);
    z-index: 9999999;
}

#nav-mobile ul {
    margin-top: 40px;
    width: 100%;
}

#nav-mobile ul li {
    text-align: left;
    margin-bottom: 6px;
}

#nav-mobile ul li a {
    font-size: 54px;
    line-height: 1;
    font-family: "AvenirNextLTPro-BoldCn", sans-serif;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    color: #fff;
    text-transform: uppercase;
    margin-left: 5%;
    background: url("img/btn-arrow.png") no-repeat;
    background-position: 100% 36%;
    padding-right: 36px;
}
/*
#nav-mobile ul li.current-menu-item a,
#nav-mobile ul li.current-page-item a {
    color: #1fb3ea;
}
*/

body.menu {
    overflow: hidden;
}

body.menu #nav-mobile {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.75s ease;
    -ms-transition: opacity 0.75s ease;
    transition: opacity 0.75s ease;
}

/*********************************************************
Banner
*********************************************************/
#title-banner {
    height: 300px;
    margin-top: 75px;
    width: 100%;
    background: url("img/approach-header1.jpg") center center no-repeat;
    background-size: cover;
    position: relative;
    -webkit-transition: all .5s ease-out;
  	-ms-transition: all .5s ease-out;
  	transition: all .5s ease-out;
}

#title-banner .contained {
    padding-top: 20px;
/*     padding-bottom: 20px; */
    overflow: visible;
}

#title-banner h1 {
    font-size: 62px;
    max-width: 80%;
    text-transform: uppercase;
    letter-spacing: -1px;
    line-height: 54px;
    color: #fff;
    -webkit-transition: all .5s ease-out;
  	-ms-transition: all .5s ease-out;
  	transition: all .5s ease-out;
}

/*********************************************************
Intro
*********************************************************/
#intro {
    padding: 40px 0;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}

#intro h2 {
    font-size: 28px;
    line-height: 30px;
}

#intro p {
    color: #8a9298;
    font-size: 20px;
    line-height: 28px;
}

/*********************************************************
Homepage
*********************************************************/
#video-bg {
    display: none;
}

.full-page, #video-bg, video, #video_overlay {
    height: 100vh;
}

#home .home-container {
    width: 100%;
    max-width: 1100px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 5%;
    padding-right: 5%;
}

#home .content {
    -webkit-transform: translate3d(0, 0, 0);
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
}

#home .blue-btn {
    margin-top: 16px;
    display: inline-block;
}

#home h1 {
    text-transform: uppercase;
    font-weight: normal;
    font-size: 40px;
    max-width: 550px;
    line-height: 38px;
    -webkit-transform: translate3d(0, 0, 0);
    color: #fff;
}

#home h3 {
    font-family: 'AvenirNextLTPro-Cn', sans-serif;
    font-weight: normal;
    max-width: 450px;
    line-height: 30px;
    margin-top: 20px;
    padding-bottom: 20px;
    -webkit-transform: translate3d(0, 0, 0);

    color: #fff;
    font-size: 24px;
}


/************* Section 0 *************/
#section-0 {
    overflow: hidden;
    height: 500px !important;
    background: url("img/mobile-homepage-section-0.jpg") center center no-repeat;
    background-size: cover;
}

#section-0 .content {
    position: absolute;
    top: 28%;
    -webkit-transform: translateY(28%);
    -ms-transform: translateY(28%);
    transform: translateY(28%);
}

#section-0 h1 {
    font-size: 50px;
    line-height: 40px;
}

#video-bg {
    display: block;
    width: 100%;
    float: left;
    overflow: hidden !important;
}

#video_overlay {
    position: absolute;
    float: left;
    width: 100%;
    background-color: rgba(37,185,241,0.85);
    -webkit-transform: translate3d(0, 0, 0);
}

#subvideo {
    width: 100%;
    object-fit: cover;
    display: none;
}

/************* Section 1 *************/
#section-1 {
    background: url('img/section-1-bg-image.jpg');
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-position: 60% 50%;
    overflow: hidden;
    height: 425px !important;
}

#section-1 .content {
    position: absolute;
    top: 28%;
    -webkit-transform: translateY(28%);
    -ms-transform: translateY(28%);
    transform: translateY(28%);
}

#section-1 h3 {
    display: none;
}

/************* Section 2 *************/
#section-2 {
    overflow: hidden;
    height: 425px !important;
    background: url("img/mobile-homepage-section-2.png") center center no-repeat;
    background-size: contain;
}

#section-2 .home-container-left {
    display: table;
    height: 425px;
}

#section-2 .home-container-left div {
    display: table-cell;
    vertical-align: middle;
}

#section-2 .home-container-right {
    display: none;
}

#section-2 h1 {
    color: #444;
}

#section-2 h3 {
     color: #8a9298;
     display: none;
}

.svg-wrapper-home {
    max-width: 450px;
    margin: 0 auto;
    text-align: center;
    display: block;
}

/************* Section 3 *************/
#section-3 {
    background: url("img/section-3-bg-image.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 425px !important;
}

#section-3 .content {
    top: 30%;
    -webkit-transform: translateY(30%);
    -ms-transform: translateY(30%);
    transform: translateY(30%);
}

#section-3 h3 {
    display: none;
}

/************* Section 4 *************/
#section-4 {
    /*height: 840px !important;*/
}

#section-4 .content {
    top: 30px;
}

#section-4 h1 {
    color: #444;
}

#section-4 h3{
    color: #8a9298;
}


/*********************************************************
Approach
*********************************************************/
#manufacturing-excellence {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding-top: 40px;
    padding-bottom: 40px;
}

#manufacturing-excellence h3 {
    font-size: 28px;
}

#manufacturing-excellence p {
    font-size: 20px;
    line-height: 28px;
    color: #8a9298;
}

#manufacturing-excellence .col-img img {
    max-width: 100%;
}

#manufacturing-excellence .col-img {
    width: 100%;
    margin-top: 30px;
}

#manufacturing-excellence .col-img:last-child {
    display: none;
}


/*********************************************************
Solutions
*********************************************************/
body.solutions .col-padding {
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
}

body.solutions .col-padding:last-child {
    border-bottom: 1px solid #ccc;
}

.solutions-view-specs {
    display: none;
}

a.solutions-learn-more {
    display: inline-block;
    cursor: pointer;
    border: 0;
    background: transparent;
    outline: 0;
    text-decoration: none;
    line-height: 20px;
    color: #fff;
    padding: 12px 50px 10px 20px;
    margin: 0 0 20px;
    font-size: 16px;
    font-family: "AvenirNextLTPro-BoldCn", sans-serif;
    font-weight: 100;
    background: url("img/btn-arrow.png") no-repeat;
    background-color: #00a7e6;
    text-transform: uppercase;
    background-position: 90% 12px;
    -webkit-font-smoothing: antialiased;
    -webkit-transition: all .5s ease-out;
    -ms-transition: all .5s ease-out;
    transition: all .5s ease-out;
}

.solutions-specs {
    display: none;
}

/*********************************************************
Solutions - Interior
*********************************************************/
body.page-template-template-solutions-template-php #intro,
body.page-template-template-casestudy-php #intro {
    padding-top: 110px;
    border: none;
    margin-bottom: 0;
}

.solution-icon img {
    width: 120px;
    height: 120px;
    margin-bottom: 10px;
}

.solution-intro h1 {
    text-transform: uppercase;
    font-size: 40px;
    font-family: "AvenirNextLTPro-BoldCn",sans-serif;
    font-weight: 100;
    line-height: 1.1;
    color: inherit;
}

.solution-intro p {
    padding-top: 10px;
    line-height: 25px;
    font-size: 18px;
    color: #8a9298;
    margin: 0 0 20px;
}

.solution-stats ul li {
    color: #1fb3ea;
    text-transform: uppercase;
    margin-bottom: 2px;
}

.solution-stats a {
    margin-top: 8px;
    display: inline-block;
    color: #8a9298;
    text-transform: uppercase;
    font-family: "AvenirNextLTPro-BoldCn",sans-serif;
    margin-bottom: 8px;
    background: url("img/icon-download.png") top right no-repeat;
    padding-right: 36px;
}

.solution-stats ul.dwg_plan {margin-top:5px;}
.solution-stats ul.dwg_plan li {font-family:"AvenirNextLTPro-BoldCn",sans-serif; color: #8a9298; margin:0;}
.solution-stats ul.dwg_plan li a {color:#1fb3ea; background:none; margin:0; padding:0; display:inline-block;}
.solution-stats ul.dwg_plan li a:hover {color:#6ecdef;}
.solution-stats ul.dwg_plan li.solutions-cta a.blue-btn {color:#fff; background:url("img/btn-arrow.png") no-repeat; background-color:#00a7e6; background-position:90% 11px; background-clip:padding-box; display:inline-block; margin:0; padding:12px 50px 10px 20px; transition:background-position .5s ease-in-out; -webkit-font-smoothing:antialiased; -webkit-transition:all .5s ease-out; -ms-transition:all .5s ease-out; transition:all .5s ease-out;}
.solution-stats ul.dwg_plan li.solutions-cta a.blue-btn:hover {color:#fff; background-color:#6ecdef; background-position:95% 11px;}

/******** Carousel ***********/
.item img{
  display: block;
  width: 100%;
  height: auto;
}

#vid-carousel .item {
    height: auto;
    position:relative;
}

.video-play {
    position:absolute;
    top: 50%;
    color: #ff6600;
    font-size: 40px;
    text-align: center;
    width: 100%;
}

.video-play a {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.video-play a svg {
    width: 100px;
    margin: -50px auto 0;
    height: 100px;
    -webkit-transition: all .5s ease-out;
    -ms-transition: all .5s ease-out;
    transition: all .5s ease-out;
}

.video-play a svg polygon.play-button,
.video-play a svg path {
    fill: #fff;
    -webkit-transition: all .5s ease-out;
    -ms-transition: all .5s ease-out;
    transition: all .5s ease-out;
}

.video-play a svg path.play-fill {
    opacity: 0.3;
}

.video-play a:hover svg path.play-fill {
    opacity: 1;
}

.video-play a:hover svg polygon.play-button {
    opacity: 0.3;
}
    

/*********************************************************
Case Study
*********************************************************/
.case-study {
    margin-top: 60px;
    margin-bottom: 60px;
}

body.page-template-template-casestudy-php .case-study,
body.case-studies .case-study {
    border-top: 1px solid #ccc;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 30px;
}

body.page-template-template-casestudy-php .case-study:first-child,
body.case-studies .case-study:first-child {
    margin-top: 0;
}

body.page-template-template-casestudy-php .solution-stats {
    margin-top: 20px;
}

.case-study-img-gal {
    position: relative;
    margin-top: 12px;
}

.case-study-img-gal img {
    width: 100%;
    display: block;
}

.case-study-img-gal a.blue-btn {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    z-index: 10;
    background-position: 95% 11px;
}

.case-study-img-gal .blue-hover {
    opacity: 0;
}

.case-study-img-gal:hover .blue-hover {
    opacity: 1;
}

.case-study-content h2 {
    font-family: "AvenirNextLTPro-Cn",sans-serif;
    font-size: 32px;
    padding-bottom: 20px;
    padding-top: 14px;
}

.case-study-content p {
    font-family: "AvenirNextLTPro-Cn", sans-serif !important;
    font-weight: normal;
    font-size: 18px;
    color: #8a9298;
    line-height: 26px;
}

.case-study-content h3 {
    font-family: "AvenirNextLTPro-Cn", sans-serif !important;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 18px;
    color: #8a9298;
    line-height: 22px;
    margin-bottom: 6px;
}

.case-study-content h3 span {
    font-family: "AvenirNextLTPro-BoldCn", sans-serif !important;
    color: #1fb3ea;
    clear: both;
    display: block;
}

.case-study-content ul li {
    color: #1fb3ea;
    text-transform: uppercase;
    margin-bottom: 2px;
    font-size: 16px;
}

.case-study-content ul.first {
    margin-top: 20px;
}

.popup-gallery {
    display: none;
}

.previous-left {
    background: url("img/previous-arrow.jpg");
    width: 55px;
    height: 45px;
    display: block;
}
.next-right {
    background: url("img/next-arrow.jpg");
    width: 55px;
    height: 45px;
    display: block;
}
.fancybox-prev span {
    left: 0;
    background-size: cover;
    background-position: center center;
    width: 55px;
    height: 45px;
    background-color: #00aeef;
    background-image: url("img/arrow-left.png") !important;
    background-size: 18px 21px;
    background-repeat: no-repeat;
}
.fancybox-next span {
    right: 0;
    background-position: center center;
    width: 55px;
    height: 45px;
    background-color: #00aeef;
    background-image: url("img/arrow-right.png") !important;
    background-size: 18px 21px;
    background-repeat: no-repeat;
}
.fancybox-close {
    top: 20px !important;
    right: 20px !important;
    background-position: center center;
    width: 27px;
    height: 27px;
    background-image: url("img/close-btn.png") !important;
    background-size: 18px 21px;
    background-repeat: no-repeat;
}

#links {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-top: 10px;
    list-style: none;
    text-align: center;
    z-index: 99999;
    margin-bottom: 10px;
}
#links li {
    display: inline;
    padding: 0 5px;
}
#links li label {
    width: 12px;
    height: 12px;
    border-radius: 100%;
    display: inline-block;
    background-color: white;
    border: 2px solid #aee4f8;
    cursor: pointer;
}
#links li.active label {
    background-color: #aee4f8;
}
.fancybox-nav {
    width: 55px !important;
}

/*********************************************************
Other Properties Carousel
*********************************************************/
#other-properties {
    border-top: 1px solid #ccc;
    padding: 20px 0;
    position: relative;
}

#properties-title {
    font-family: "AvenirNextLTPro-Cn",sans-serif;
    font-size: 32px;
    padding-bottom: 20px;
    padding-top: 14px;
}

.blue-hover-case-properties {
    opacity: 0;
    display: none;
}

/*********************************************************
About
*********************************************************/
body.about #intro h2 {
    text-transform: uppercase;
    line-height: 1.2;
}

body.about .col-l img {
    max-width: 100%;
    margin-bottom: 14px;
}

#about-overview .col50 {
    width: 100%;
    margin-bottom: 30px;
    margin-top: 10px;
}

#about-overview .col50 h3 {
    color: #1fb3ea;
    font-weight: normal;
    font-family: "AvenirNextLTPro-Cn",sans-serif;
    font-size: 32px;
    line-height: 1.1;
}

#about-overview .col50 h6 {
    font-weight: normal;
    font-family: "AvenirNextLTPro-BoldCn",sans-serif;
    color: #1fb3ea;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
}

#about-overview .col50 p {
    font-size: 20px;
    line-height: 28px;
    color: #8a9298;
    padding: 0;
    margin: 0;
    font-weight: normal;
    font-family: "AvenirNextLTPro-Cn",sans-serif;
}

#about-stats {
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    margin-bottom: 30px;
}

#about-stats h3 {
    color: #1fb3ea;
    font-weight: normal;
    font-family: "AvenirNextLTPro-Cn",sans-serif;
    font-size: 64px;
    margin: 0;
    padding: 0;
    line-height: 1;
}

#about-stats span.yrs {
    margin-top: 21px;
    position: absolute;
}

#about-stats h3 sub {
    font-size: 39%;
    line-height: 0;
    position: relative;
    vertical-align: text-top;
    letter-spacing: 0.5px;
}

#about-stats p {
    text-transform: uppercase;
    font-family: "AvenirNextLTPro-Cn", sans-serif !important;
    color: #1fb3ea;
    font-size: 15px;
    letter-spacing: 0.25px;
    font-weight: lighter;
    letter-spacing: 0.5px;
    margin-bottom: 20px;
}

#executive-team {
    padding-bottom: 30px;
    border-bottom: 1px solid #ccc;
}

#executive-team .contained {
    padding: 20px 0;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
}

#executive-team h3 {
    font-size: 28px;
}

#executive-team h4 {
    color: #1fb3ea;
    font-size: 18px;
    text-transform: uppercase;
    font-family: "AvenirNextLTPro-BoldCn", sans-serif;
    line-height: 1;
}

#executive-team h5 {
    font-size: 18px;
    text-transform: uppercase;
    padding-bottom: 10px;
    color: #8a9298;
}

#executive-team p {
    font-size: 18px;
    color: #8a9298;
    line-height: 1.4;
}

/*********************************************************
News
*********************************************************/
#news-container {
    margin: 30px auto 0;
}

#news-l h3 {
    font-family: "AvenirNextLTPro-Cn",sans-serif;
    font-size: 36px;
    font-weight: 100;
    line-height: 1.1;
    margin-bottom: 30px;
}

#news-l article {
    padding-bottom: 40px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 40px;
}

#news-l article:last-child {
    margin-bottom: 0;
}

#news-l article a {
    color: #1fb3ea;
}

#news-l article a:hover {
    color: #444;
}

#news-l article h2,
#news-l article h2 a {
    font-family: "AvenirNextLTPro-BoldCn",sans-serif;
    font-weight: 100;
    line-height: 1.1;
    color: inherit;
    font-size: 28px;
    text-transform: uppercase;
    color: #444;
    text-decoration: none;
}

#news-l article h2 a:hover {
    color: #1fb3ea;
    text-decoration: none;
}

#news-l article h6 {
    font-weight: normal;
    font-family: "AvenirNextLTPro-Cn",sans-serif;
    color: #444;
    font-size: 22px;
    text-decoration: none;
    text-transform: uppercase;
}

#news-l article h6 span {
    color: #1fb3ea;
    font-family: "AvenirNextLTPro-BoldCn",sans-serif;
}

body.single-post #news-l article h6 span {
    color: #444;
    font-family: "AvenirNextLTPro-Cn",sans-serif;
}

#news-l article p,
#news-l article ul li {
    color: #8a9298;
    font-size: 20px;
    font-family: "AvenirNextLTPro-Cn",sans-serif;
    margin-bottom: 24px;
}

#news-l article ul {
    margin-bottom: 20px;
}

#news-l article ul li {
    margin-bottom: 10px;
    list-style-type: disc; 
    list-style-position: inside;
    padding-left: 5px;
}

#news-l article p strong {
    font-family: "AvenirNextLTPro-BoldCn",sans-serif;
    color: #444;
}

#news-l article a.blue-btn {
    color: #fff;
}

#news-l article a.blue-btn :hover {
    text-decoration: none;
}

#news-l article table {
    border-collapse: collapse;
    margin-bottom: 24px;
}

#news-l article table, 
#news-l article th, 
#news-l article td {
   border: 1px solid #ccc;
}

#news-l article td {
   padding: 3%;
}

#news-l article .blue-btn {
    margin-top: 20px;
    display: inline-block;
}

#news-r h3 {
    text-transform: uppercase;
    border-bottom: 1px solid #ccc;
    font-family: "AvenirNextLTPro-BoldCn",sans-serif;
    font-size: 22px;
    padding-bottom: 8px;
    margin-top: 14px;
}

#news-r li {
    margin: 10px 0;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

#news-r li a {
    font-family: "AvenirNextLTPro-BoldCn",sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    color: #00a7e6;
    display: block;
}
    

/*********************************************************
Contact an Expert
*********************************************************/
#contact-expert{
    border-bottom: 1px solid #ccc;
    padding-top: 40px;
    padding-bottom: 40px;
    border-top: 1px solid #ccc;
    margin-top: 40px;
}

#contact-expert .td-50 p {
    font-size: 28px;
    color: #1fb3ea;
    text-transform: uppercase;
    font-family: "AvenirNextLTPro-BoldCn", sans-serif !important;
    font-weight: normal;
    line-height: 1.1;
}

#contact-expert .td-50 a.blue-btn {
    margin-top: 24px;
    display: inline-block;
}

/*********************************************************
Service Requests
*********************************************************/
#service-requests {
    padding: 40px 0;
    background-color: #dce1e3;
}

#service-requests h3 {
    color: #221e1f;
    font-weight: normal;
    font-family: "AvenirNextLTPro-Cn",sans-serif;
    font-size: 28px;
}

#service-requests h3.blue {
    color: #1fb3ea;
}

#service-requests h4 {
    font-weight: normal;
    font-family: "AvenirNextLTPro-Cn",sans-serif;
    color: #1fb3ea;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
}

#service-requests p {
    font-size: 18px;
    line-height: 24px;
    color: #8a9298;
    margin-bottom: 14px;
}

/*********************************************************
Contact
*********************************************************/
body.contact .col-60 {
    margin-bottom: 40px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

body.contact .col-60 h2 {
    font-size: 28px;
}

body.contact .col-60 p {
    color: #8a9298;
    font-size: 21px;
    line-height: 30px;
    margin-bottom: 24px;
}

body.contact .col-60 a {
    color: #1fb3ea;
}

#contact-section {
    margin-top: 30px;
    margin-bottom: 30px;
}

#contact-section p strong {
    font-family: "AvenirNextLTPro-BoldCn",sans-serif;
    color: #444;
}


#contact-regions {
    border-top: 1px solid #ccc;
    padding-top: 30px;
    margin-bottom: 60px;
}

#contact-regions h3 {
    color: #444;
    font-weight: normal;
    font-family: "AvenirNextLTPro-Cn",sans-serif;
    font-size: 28px;
    margin-bottom: 20px;
}

#contact-regions .col-33 {
    margin-bottom: 24px;
}

#contact-regions .col-33 p {
    color: #8a9298;
    font-size: 21px;
    line-height: 30px;
}

#contact-swapper h2 {
    text-transform: uppercase;
    font-size: 45px;
    font-family: "AvenirNextLTPro-BoldCn",sans-serif;
    font-weight: 100;
    margin: 0;
    padding: 0;
    color: #444;
}

#contact-swapper h2.thank-you {
     color: #1fb3ea;
}

body.home #contact-swapper p {
    color: #8a9298;
    font-family: 'AvenirNextLTPro-Cn', sans-serif;
    font-weight: normal;
    max-width: 450px;
    line-height: 30px;
    margin-top: 20px;
    padding-bottom: 20px;
    -webkit-transform: translate3d(0, 0, 0);
    color: #8a9298;
    font-size: 24px;
}

.wpcf7-form {
    margin-top: 13px;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #999;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #999;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #999;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    #999;
}

input[type="text"].wpcf7-form-control,
input[type="tel"].wpcf7-form-control,
input[type="email"].wpcf7-form-control,
select.wpcf7-form-control{
    box-sizing: border-box;
    border: 3px solid #a1a8ad;
    padding: 10px 12px 8px;
    margin-bottom: 12px;
    background-color: transparent;
    width: 90%;
    color:  #999; 
    text-transform: uppercase;
    font-family: "AvenirNextLTPro-Cn",sans-serif;
    font-style: normal;
    font-size: 16px;
    outline: none;
    outline: 0;
    -webkit-appearance: none;
    -webkit-border-radius:0; 
    border-radius:0;
    -ms-box-sizing:content-box;
    -moz-box-sizing:content-box;
    box-sizing:content-box;
    -webkit-box-sizing:content-box;
}

select.wpcf7-form-control {
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
}

/*
Thanks Sampson:
http://stackoverflow.com/questions/15351949/removing-the-ie10-select-element-arrow
*/
select.wpcf7-form-control::-ms-expand {
    display:none; 
}

select.wpcf7-form-control{
    background: url("img/arrow-down.png") no-repeat;
    background-position: 97% center;
}

textarea.wpcf7-form-control{
    resize: none;
}

input[type="submit"].wpcf7-form-control {
    cursor: pointer;
    border: 0;
    background: transparent;
    outline: 0;
    text-decoration: none;
    line-height: 20px;
    color: #fff;
    padding: 12px 50px 10px 20px;
    margin: 12px 0 0;
    font-size: 16px;
    font-family: "AvenirNextLTPro-BoldCn", sans-serif;
    font-weight: 100;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    background-clip: padding-box;
    border-radius: 0px;
    background: url("img/btn-arrow.png") no-repeat;
    background-color: #00a7e6;
    text-transform: uppercase;
    background-position: 90% 11px;
    transition: background-position .5s ease-in-out;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    -webkit-transition: all .5s ease-out;
    -ms-transition: all .5s ease-out;
    transition: all .5s ease-out;
    -ms-box-sizing:content-box;
    -moz-box-sizing:content-box;
    box-sizing:content-box;
    -webkit-box-sizing:content-box;
}

div.wpcf7 img.ajax-loader {
    border: none;
    vertical-align: middle;
    margin-left: 10px !important;
}

input[type="submit"].wpcf7-form-control:hover {
    background-position: 95% 11px;
    background-color: #6ecdef;
    color: #fff;
}

input.wpcf7-not-valid{
    border-color: #1fb3ea !important;
    color: #1fb3ea !important;
}

span.wpcf7-not-valid-tip {
    display: none !important;
}

::-webkit-input-placeholder {
   color:  #999;
    text-transform: uppercase;
    font-family: "AvenirNextLTPro-Cn",sans-serif;
    font-style: normal;
    font-size: 16px;
}

:-moz-placeholder { /* Firefox 18- */
   color:  #999;
    text-transform: uppercase;
    font-family: "AvenirNextLTPro-Cn",sans-serif;
    font-style: normal;
    font-size: 16px;
}

::-moz-placeholder {  /* Firefox 19+ */
   color:  #999; 
    text-transform: uppercase;
    font-family: "AvenirNextLTPro-Cn",sans-serif;
    font-style: normal;
    font-size: 16px;
}

:-ms-input-placeholder {  
   color:  #999;
    text-transform: uppercase;
    font-family: "AvenirNextLTPro-Cn",sans-serif;
    font-style: normal;
    font-size: 16px;
}

input.wpcf7-not-valid::-webkit-input-placeholder {
   color: #1fb3ea !important;
}

input.wpcf7-not-valid:-moz-placeholder { /* Firefox 18- */
   color: #1fb3ea !important;
}

input.wpcf7-not-valid::-moz-placeholder {  /* Firefox 19+ */
   color: #1fb3ea !important;
}

input.wpcf7-not-valid:-ms-input-placeholder {  
   color: #1fb3ea !important;
}

.wpcf7-validation-errors {
    display: none !important;
}

div.wpcf7-mail-sent-ok {
    border: none !important;
    background-color: #999;
    padding: 14px 0 10px !important;
    color: #efefef;
    text-transform: uppercase;
    font-family: "AvenirNextLTPro-Cn",sans-serif;
    font-style: normal;
    font-size: 22px;
}

.wpcf7 .wpcf7-mail-sent-ok {
    visibility:hidden;
    display: none !important;
}

/*****************************************************
Gallery
*****************************************************/
.gallery-overlay {
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,1);
    background-image: url("img/ajax-loader.gif");
    background-position: center center;
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    z-index: 9999999;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
    -moz-transition: opacity 0.5s, visibility 0s 0.5s;
    -ms-transition: opacity 0.5s, visibility 0s 0.5s;
    -o-transition: opacity 0.5s, visibility 0s 0.5s;
    transition: opacity 0.5s, visibility 0s 0.5s;
    /*height: calc(100% - 60px); */
    /* top: 60px; */
}

.gallery-overlay-close {
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
    top: 20px;
    right: 20px;
    z-index: 99999;
}

.gallery-overlay-close svg {
    width: 40px;
    height: 40px;
    fill: #1fb3ea;
    cursor: pointer;
    -webkit-transition: all .25s ease-out;
    -moz-transition: all .25s ease-out;
    -ms-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out;
}

.gallery-overlay-close svg:hover {
    fill: #000;
}

.gallery-overlay-slides {
    width: 90%;
    height: 75%;
    display: block;
    margin: 0 auto;
    position: relative;
    text-align: center;
}

.gallery-video-container {
    position: relative;
	padding-bottom: 54.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.gallery-video-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
    background-color: #fff;
}

.gallery-overlay-slides .overlay-slide {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
    -moz-transition: opacity 0.5s, visibility 0s 0.5s;
    -ms-transition: opacity 0.5s, visibility 0s 0.5s;
    -o-transition: opacity 0.5s, visibility 0s 0.5s;
    transition: opacity 0.5s, visibility 0s 0.5s;
}

.gallery-overlay-padding {
    width: 100%;
    height: 10%;
    position: relative;
}

.gallery-overlay-prev,
.gallery-overlay-next {
    display: none;

}

.gallery-overlay-nav {
    text-align: center;
    width: 100%;
    height: 15%;
    position: relative;
}

.gallery-overlay-nav ul {
    list-style: none;
    padding: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    display: inline-block;
    position: relative;
    -webkit-transition: opacity .75s ease;
    -moz-transition: opacity .75s ease;
    -ms-transition: opacity .75s ease;
    -o-transition: opacity .75s ease;
    transition: opacity .75s ease;
    opacity: 1;
}

.gallery-overlay-nav ul li {
    display: inline-block;
    list-style-type: none;
    width: 24px;
    height: 24px;
    margin: 0 10px;
    cursor: pointer;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease; 
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.gallery-overlay-nav ul li svg circle.dot,
.gallery-overlay-nav ul li svg path.ring {
    fill: #1fb3ea;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease; 
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.gallery-overlay-nav ul li svg circle.dot {
    fill: #fff;
    opacity: 0;
    -webkit-transition: all .75s ease;
    -moz-transition: all .75s ease; 
    -ms-transition: all .75s ease;
    -o-transition: all .75s ease;
    transition: all .75s ease;
}

.gallery-overlay-nav ul li:hover svg circle.dot {
    opacity: 1;
}

.gallery-overlay-nav ul li.gallery-overlay-nav-active svg path.ring,
.gallery-overlay-nav ul li.gallery-overlay-nav-active svg circle.dot {
    fill: #1fb3ea;
    opacity: 1;
}

body.gallery-overlay-open {
    overflow: hidden;
}

body.gallery-overlay-open .gallery-overlay {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.75s ease;
    -moz-transition: opacity 0.75s ease;
    -ms-transition: opacity 0.75s ease;
    -o-transition: opacity 0.75s ease;
    transition: opacity 0.75s ease;
}

body.gallery-overlay-open .gallery-overlay-slides .current-slide {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.75s ease;
    -moz-transition: opacity 0.75s ease;
    -ms-transition: opacity 0.75s ease;
    -o-transition: opacity 0.75s ease;
    transition: opacity 0.75s ease;
    -webkit-transition-delay: 1s;
    -moz-transition-delay: 1s;
    -ms-transition-delay: 1s;
    -o-transition-delay: 1s;
    transition-delay: 1s;
}

body.gallery-overlay-open .gallery-overlay-nav ul,
body.gallery-overlay-open .gallery-overlay-prev,
body.gallery-overlay-open .gallery-overlay-next{
    opacity: 1;
    -webkit-transition: opacity 1.75s ease;
    -moz-transition: opacity 1.75s ease;
    -ms-transition: opacity 1.75s ease;
    -o-transition: opacity 1.75s ease;
    transition: opacity 1.75s ease;
    -webkit-transition-delay: 2.5s;
    -moz-transition-delay: 2.5s;
    -ms-transition-delay: 2.5s;
    -o-transition-delay: 2.5s;
    transition-delay: 2.5s;
}

/*********************************************************
Footers
*********************************************************/
#footer-services {
    padding-top: 60px;
    padding-bottom: 80px;
}

#footer-services h3{
    display: none;
}

#footer-services ul{
    display: none;
}

#footer-services ul li .svg-wrapper {
    margin-top: 8px;
    width: 100px;
    height: 100px;
}

#footer-services ul li h5{
    font-weight: normal;
    font-family: "AvenirNextLTPro-Cn",sans-serif;
    color: #1fb3ea;
    font-size: 22px;
    text-decoration: none;
}

body.solutions #footer-services ul li h5{
    text-transform: uppercase;
    line-height: 1.2;
    margin-bottom: 14px;
}

footer {
    background-color: #1fb3ea;
    padding: 30px 0 14px;
}

footer .col-l,
footer .col-r,
footer .col-l p,
footer .col-r p{
    color: #fff;
    font-size: 15px;
}

footer p.footer,
footer p.footer a{
    color: #aee4f8;
    font-size: 14px;
}

footer a {
    margin-left: 10px;
}

footer p.footer a:hover {
    color: #fff;
}

footer .col-r ul {
    display: none;
}

footer a { 
    color: #fff;
}

footer .col-l h6 {
    color: #fff;
    font-family: "AvenirNextLTPro-BoldCn", sans-serif;
}

footer p {
    margin-bottom: 20px;
}

/*********************************************************
Text Template
*********************************************************/
#text-template {
    margin-top: 140px;
    margin-bottom: 100px;
}

#text-template h1 {
    font-family: "AvenirNextLTPro-Cn",sans-serif;
    font-size: 36px;
    font-weight: 100;
    line-height: 1.1;
    margin-top: 20px;
    margin-bottom: 50px;
}

#text-template h3 {
    font-family: "AvenirNextLTPro-Cn",sans-serif;
    font-size: 20px;
    font-weight: 100;
    line-height: 1.1;
    margin-bottom: 4px;
    color: #444;
}

#text-template p {
    font-size: 18px;
    line-height: 1.4;
    color: #8a9298;
    margin-bottom: 26px;
}

#text-template a {
    color: #1fb3ea;
}

#text-template a:hover {
    color: #444;
}
div[class=wpcf7][id*='wpcf7-'] .wpcf7-form-control-wrap {clear:both;}
div.wpcf7 .wpcf7-recaptcha > div {width:100% !important;}

.col-40.project-type-field-wrapper, .col-60.desired-spaces-field-wrapper,
.col-60.city-field-wrapper, .col-40.state-field-wrapper,
.col-50.email-address-field-wrapper, .col-50.phone-number-field-wrapper,
.col-60.hear-about-field-wrapper, .col-40.hear-other-field-wrapper {
	float: left;
    margin-bottom: 0 !important;
    margin-top: 0 !important;
    padding-bottom: 0 !important;
	border:none !important;
}
.col-40.project-type-field-wrapper {width:38%; margin-right:2%; margin-left:0;}
.col-60.desired-spaces-field-wrapper {width:58%; margin-left:2%; margin-right:0;}
.col-40.project-type-field-wrapper select#project-type-field {
    width: 81%;
    padding: 10px 7.5% 8px;
    background-position: 92% center;
}
.col-60.desired-spaces-field-wrapper input#desired-spaces-field {
    width: 82%;
    padding: 10px 5% 8px;
}
.col-60.city-field-wrapper {width:58%; margin-right:2%; margin-left:0;}
.col-40.state-field-wrapper {width:38%; margin-left:2%; margin-right:0;}
.col-60.city-field-wrapper input#city-field {
    width: 88%;
    padding: 10px 5% 8px;
}
.col-40.state-field-wrapper select#state-type-field {
    width: 74%;
    padding: 10px 7% 8px;
    background-position: 91% center;
}
.col-50.email-address-field-wrapper {width:48%; margin-right:2%; margin-left:0;}
.col-50.phone-number-field-wrapper {width:48%; margin-left:2%; margin-right:0;}
.col-50.email-address-field-wrapper input#email-address-field {
    width: 85%;
    padding: 10px 6% 8px;
}
.col-50.phone-number-field-wrapper input#phone-number-field {
    width: 78.5%;
    padding: 10px 6% 8px;
}
.col-60.hear-about-field-wrapper {width:58%; margin-right:2%; margin-left:0;}
.col-40.hear-other-field-wrapper {width:38%; margin-left:2%; margin-right:0;}
.col-60.hear-about-field-wrapper select#hear-about-field {
    width: 88%;
    padding: 10px 5% 8px;
    background-position: 95% center;
}
.col-40.hear-other-field-wrapper input#hear-other-field {
    width: 74%;
    padding: 10px 7% 8px;
}

/*//////////////////////////////////////////////////////////////////////////////////////
iPads (Portrait)
//////////////////////////////////////////////////////////////////////////////////////*/
@media only screen and (min-device-width : 768px) 
and (max-device-width : 1024px) and (orientation : portrait) {
    header {
        height: 85px;
        width: 100%;
    }

    .header-contained {
        height: 85px;
    }
    
    #nav-mobile {
        height: calc(100% - 85px);
        top: 85px;
    }
    
    #header-button {
        top: 34px;
    }
    
    body.menu {
        overflow: hidden;
        position: fixed;
    }
    
    
    /*********************************************************
    Homepage
    *********************************************************/
    
    /************* Section 0 *************/
    #section-0 {
        height: 720px !important;
    }

    #section-0 .content {
        position: absolute;
        top: 28%;
        -webkit-transform: translateY(28%);
        -ms-transform: translateY(28%);
        transform: translateY(28%);
    }

    #section-0 h1 {
        font-size: 70px;
        line-height: 60px;
    }

    /************* Section 1 *************/
    #section-1 {
        background-position: 60% 50%;
        height: 645px !important;
    }

    #section-1 .content {
        position: absolute;
        top: 24%;
        -webkit-transform: translateY(24%);
        -ms-transform: translateY(24%);
        transform: translateY(24%);
    }

    #section-1 h3 {
        display: block;
    }

    /************* Section 2 *************/
    #section-2 {
        height: 645px !important;
        background-size: auto;
    }

    #section-2 .home-container-left {
        height: 645px;
    }

    #section-2 h3 {
         display: block;
    }

    /************* Section 3 *************/
    #section-3 {
        height: 645px !important;
    }

    #section-3 .content {
        top: 24%;
        -webkit-transform: translateY(24%);
        -ms-transform: translateY(24%);
        transform: translateY(24%);
    }

    #section-3 h3 {
        display: block;
    }

    /************* Section 4 *************/
    #section-4 {
        height: 840px !important;
    }

    #section-4 .content {
        top: 30px;
    }

    #section-4 h1 {
        color: #444;
    }

    #section-4 h3{
        color: #8a9298;
    }

}




/*//////////////////////////////////////////////////////////////////////////////////////
Desktop
//////////////////////////////////////////////////////////////////////////////////////*/
@media screen and (min-width: 920px) {
    .mobile-hide {
        display: inline-block;
    }
    .mobile-show{
        display: none;
    }
    
    .contained {
        max-width: 1040px;
        width: 100%;
        padding: 0 30px;
        box-sizing: border-box;
        margin: 0 auto;
        -webkit-transition: all .5s ease-out;
  	     -ms-transition: all .5s ease-out;
  	     transition: all .5s ease-out;
    }
    
    .col-l {
        float: left;
        width: 18%;
    }
    
    .col-l svg {
        margin-top: 20px;
        width: 100px;
        height: 100px;
    }

    .col-r {
        float: left;
        width: 82%;
    }
    
    .col-r h3 {
        font-size: 45px;
    }

    .col-r h4 {
        font-size: 22px;
    }

    .col-r p {
        font-size: 22px;
        line-height: 30px;
    }

    .col-padding {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    
    section .col-padding:last-child {
        padding-bottom: 100px;
    }
    
    .tble {
        display: table;
    }

    .td-50 {
        display: table-cell;
        vertical-align: middle;
        width: 50%;
    }
    
    /*********************************************************
    Header
    *********************************************************/
    header {
        height: 100px;
    }

    .header-contained {
        max-width: 1040px;
        width: 100%;
        padding: 0 30px;
        margin: 0 auto;
        height: 100px;
        -webkit-transition: all .5s ease-out;
        -ms-transition: all .5s ease-out;
        transition: all .5s ease-out;
    }
    
    .header-logo,
    .header-main,
    .header-secondary{
        display: table-cell;
        vertical-align: middle;
    }
    
    .header-logo {
        width: 10%;
    }

    .header-main {
        text-align: right;
        width: 40%;
    }
    
    .header-secondary {
        text-align: right;
        width: 30%;
    }
    
    .header-logo a {
        margin-top: 8px;
        width: 166px;
        height: 57px;
    }
    
    header ul {
        list-style-type: none;
        width: auto;
    }
    
    #menu-secondary-menu {
        border-left: 1px solid #ccc;
        white-space: nowrap;
        margin-left: 40px;
    }
    
    header li {
        display: inline-block;
    }
    
    header li a {
        -webkit-transition: all .5s ease-out;
        -moz-transition: all .5s ease-out;
        -ms-transition: all .5s ease-out;
        -o-transition: all .5s ease-out;
        transition: all .5s ease-out;
    }
    
    #menu-main-menu li {
        margin: 0 5%;
    }
    
    #menu-secondary-menu li {
        margin: 8px 4% 0;
    }
    
    #menu-main-menu li a {
        font-size: 22px;
        display: inline-block;
        height: 58px;
        padding-top: 38px;
        color: #8a9298;
        border-bottom: solid 4px #fff;
    }
    
    #menu-main-menu li a:hover,
    #menu-secondary-menu li a:hover{
        color: #1fb3ea;
    }
    
    #menu-main-menu li.current-menu-item a,
    #menu-main-menu li.current-page-ancestor a {
        color: #1fb3ea;
        border-bottom: solid 4px #1fb3ea;
    }
    
    #menu-secondary-menu li:first-child {
        margin-left: 30px;
    }
    
    #menu-main-menu li:last-child{
        margin-right: 0;
    }
    
    #menu-secondary-menu li a {
        padding: 8px 0 5px 0;
        font-size: 15px;
        color: #8a9298;
        text-transform: uppercase;
    }
    
    #menu-secondary-menu li:last-child a {
        padding: 8px 10px 5px 10px;
        background-color: #1fb3ea;
        color: #fff;
    }
    
    #menu-secondary-menu li:last-child a:hover {
        background-color: #6ecdef;
    }
    
    #menu-secondary-menu li.current-menu-item:last-child a {
        color: #fff;
    }
    
    #menu-secondary-menu li.current-menu-item a,
    #menu-secondary-menu li.current_page_parent a{
        color: #1fb3ea;
    }
    
    #header-button {
        display: none;
    }
    
    /*********************************************************
    Banner
    *********************************************************/
    #title-banner {
        height: 474px;
        margin-top: 100px;
    }
     
    #title-banner h1 {
        font-size: 120px;
        max-width: 850px;
        letter-spacing: -1px;
        line-height: 100px;
    }
    
    /*********************************************************
    Intro
    *********************************************************/
    #intro {
        padding: 100px 30px;
        margin-bottom: 50px;
        -webkit-transition: all .5s ease-out;
        -ms-transition: all .5s ease-out;
        transition: all .5s ease-out;
    }

    #intro h2 {
        font-size: 45px;
        line-height: 42px;
        /* margin-bottom: 14px; */
    }

    #intro p {
        font-size: 33px;
        line-height: 42px;
    }
    
    /*********************************************************
    Homepage
    *********************************************************/    
    body.home .home-container.content > #contact-swapper.col-60 {
        float: left;
        width: 55%;
        margin-right: 2%;
        border: none;
         margin-top: 140px;
    }

    body.home .home-container.content > .col-40 {
        float: left;
        width: 41%;
        margin-left: 2%;
        margin-right: 0%;
    }
    
    .home-container {
        width: 100%;
        max-width: 1100px;
        margin-right: auto;
        margin-left: auto;
        padding-left: 15px;
        padding-right: 15px;
    }
    
    .home-container-left {
        position: relative;
        float: left;
        width: 40%;
        margin-right: 5%;
        margin-top: 100px;
    }
    
    .home-container-right {
        position: relative;
        float: left;
        width: 50%;
        margin-right: 5%;
    }
    
    #home .content {
        -webkit-transform: translate3d(0, 0, 0);
        position: absolute;
        left: 0;
        right: 0;
        z-index: 1;
        top: 32%;
        -webkit-transform: translateY(32%);
        -ms-transform: translateY(32%);
        transform: translateY(32%);
    }
    
    #home .blue-btn {
        /*margin-top: 0;*/
    }
    
    
    /************* Section 0 *************/
    #section-0 {
        height: 100% !important;
        padding-top: 0;
        overflow: hidden;
    }
    
    #section-0 .content {
        top: 28%;
        -webkit-transform: translateY(28%);
        -ms-transform: translateY(28%);
        transform: translateY(28%);
    }
    
    #section-0 h1 {
        font-size: 133px;
        max-width: 1000px;
        line-height: 110px;
    }
    
    #section-0 h3 {
        font-size: 36px;
        max-width: 600px;
        line-height: 42px;
    }
    
    .full-page, #video-bg, video, #video_overlay {
        height: 100vh;
    }
    
    #video-bg {
        display: block;
        width: 100%;
        float: left;
        overflow: hidden !important;
    }
    
    #video_overlay {
        position: absolute;
        float: left;
        width: 100%;
        background-color: rgba(37,185,241,0.85);
        -webkit-transform: translate3d(0, 0, 0);
    }
    
    #subvideo {
        display: block;
        width: 100%;
        object-fit: cover;
    }

    /************* Section 1 *************/
    #section-1 {
        background-repeat: no-repeat;
        background-position: 0 30%;
        background-size: 100%;
        background-size: cover;
        width: 100%;
        height: 100% !important;
    }
    
    #section-1 .content {
        z-index: 8;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
    }
    
    #section-1 h1 {
        font-size: 50px;
        max-width: 550px;
        line-height: 50px;
    }
    
    #section-1 h3 {
        display: block;
    }

    
    /************* Section 2 *************/
    #section-2 {
        height: 100% !important;
        background-image: none;
    }
    
    #section-2 .content {
        top: 18%;
        -webkit-transform: translateY(18%);
        -ms-transform: translateY(18%);
        transform: translateY(18%);
    }
    
    #section-2 .home-container-left {
        height: auto;
    }
    
    #section-2 .home-container-right {
        display: block;
    }
    
    #section-2 h3 {
        display: block;
    }
    
    .svg-wrapper-home {
        max-width: 450px;
        margin: 0 auto;
        text-align: center;
        display: block;
    }
    
    #svg-home-box.home-start svg polyline,
    #svg-home-box.home-start svg line,
    #svg-home-box.home-start svg circle,
    #svg-home-box.home-start svg rect{
        stroke: #eaeff0;
        -webkit-transition: stroke .5s ease-out;
        -ms-transition: stroke .5s ease-out;
        transition: stroke .5s ease-out;
    }
    
    /************* Section 3 *************/
    #section-3 {
        background: url("img/section-3-bg-image.jpg");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        width: 100%;
        height: 100% !important;
    }
    
    #section-3 h3 {
        display: block;
    }
    
    /************* Section 4 *************/
    #section-4 {
        /*height: 100% !important;*/
    }
    
    #section-4 .content {
        top: 18%;
        -webkit-transform: translateY(18%);
        -ms-transform: translateY(18%);
        transform: translateY(18%);
    }
    
    /************* Side Nav *************/
    #fp-nav li {
        width: 10px !important;
        height: 10px !important;
        margin: 14px 7px !important;
    }
    
    #fp-nav li a span {
        height: 10px !important;
        width: 10px !important;
        background: none !important;
        margin: -6px 0 0 -6px !important;
        border: 2px solid #fff !important;
        -webkit-transition: all .35s ease-out !important;
        -ms-transition: all .35s ease-out !important;
        transition: all .35s ease-out !important;
    }
    
    body.fp-viewing-2 #fp-nav li a span,
    body.fp-viewing-4 #fp-nav li a span{
        border: 2px solid #00aeef !important;
    }

     #fp-nav li a.active span {
        background-color: #fff !important;
     }
    
    body.fp-viewing-2 #fp-nav li a.active span,
    body.fp-viewing-4 #fp-nav li a.active span{
        background-color: #00aeef !important;
    }

     #fp-nav li a span.blue {
        background-color: #00aeef  !important;
        border-color: #00aeef  !important;
     }	
    
    /*********************************************************
    Approach
    *********************************************************/
    #manufacturing-excellence {
        margin-top: 60px;
        padding-top: 100px;
        padding-bottom: 100px;
    }

    #manufacturing-excellence h3 {
        font-size: 40px;
    }

    #manufacturing-excellence p {
        font-size: 22px;
        line-height: 30px;
    }
    
    #manufacturing-excellence .col-img img {
        max-width: 100%;
    }
    
    #manufacturing-excellence .col-img {
        float: left;
        width: 49.5%;
        margin-top: 30px;
    }
    
    #manufacturing-excellence .col-img:first-child {
        margin-right: 1%;
    }
    
    #manufacturing-excellence .col-img:last-child {
        display: block;
        margin-left: 1%;
    }
    
    
    /*********************************************************
    Solutions
    *********************************************************/
    body.solutions #intro {
        border-bottom: none;
        margin-bottom: 0;
    }

    body.solutions .col-padding {
        border-top: 1px solid #ccc;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    
    body.solutions .col-r {
        width: 60%;
    }
    
    .solutions-view-specs {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        padding: 10px 25px 8px;
        border: 1px solid #ccc;
        border-width: 0 1px 1px 1px;
        cursor: pointer;
        text-transform: uppercase;
        color: #ccc;
        font-family: "AvenirNextLTPro-Cn",sans-serif;
        font-size: 15px;
        -webkit-transition: all .5s ease-out;
        -ms-transition: all .5s ease-out;
        transition: all .5s ease-out;
        z-index: 10;
        color: #8a9298;
    }
    
    a.solutions-learn-more {
        display: block;
        position: absolute;
        top: 50%;
        right: 0;
        cursor: pointer;
        border: 0;
        background: transparent;
        outline: 0;
        text-decoration: none;
        line-height: 20px;
        color: #fff;
        padding: 12px 50px 10px 20px;
        margin: -21px 0 0;
        font-size: 16px;
        font-family: "AvenirNextLTPro-BoldCn", sans-serif;
        font-weight: 100;
        background: url("img/btn-arrow.png") no-repeat;
        background-color: #00a7e6;
        text-transform: uppercase;
        background-position: 90% 11px;
        -webkit-font-smoothing: antialiased;
        -webkit-transition: all .5s ease-out;
        -ms-transition: all .5s ease-out;
        transition: all .5s ease-out;
        z-index: 10;
    }
    
    a.blue-btn:hover,
    a.solutions-learn-more:hover,
    .solutions-view-specs:hover {
        background-color: #6ecdef;
        color: #fff;
    }
    
    .solutions-view-specs:hover {
        border-color: #6ecdef;
    }
    
    a.blue-btn:hover,
    a.solutions-learn-more:hover {
        background-position: 95% 11px;
    }
    
    .solutions-specs {
        display: block;
        opacity: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #eaeff0;
        z-index: 5;
        top: 0;
        left: 0;
        webkit-transition: all .25s ease-out;
        -ms-transition: all .25s ease-out;
        transition: all .25s ease-out;
    }
    
    .solutions-time,
    .solutions-levels,
    .solutions-installed {
        float: left;
        width: 25%;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        position: relative;
        height: 150px;
        margin-top: 20px;
    }
    
    .solutions-specs h3 {
        color: #1fb3ea;
        font-weight: normal;
        font-family: "AvenirNextLTPro-Cn",sans-serif;
        font-size: 100px;
        line-height: 1;
    }

    
    .solutions-specs p {
        text-transform: uppercase;
        font-family: "AvenirNextLTPro-BoldCn", sans-serif !important;
        color: #1fb3ea;
        font-size: 18px;
        letter-spacing: 0.25px;
    }
    
    .solutions-specs p span {
        display: block;
        font-size: 14px;
        font-style: italic;
        text-transform: lowercase;
        font-family: "AvenirNextLTPro-Cn",sans-serif;
        clear: both
    }
    
    .solution-item.show-specs .solutions-specs {
        opacity: 1;
    }
        
    
    /*********************************************************
    Solutions - Interior
    *********************************************************/
    body.page-template-template-solutions-template-php #intro {
        padding-top: 220px;
    }
    
    body.page-template-template-solutions-template-php .case-study {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    
    .solution-icon, 
    .solution-intro,
    .solution-stats {
        float: left;
        width: 17%;
    }
    
    .solution-icon img {
        width: 148px;
        height: 148px;
        max-width: 100%;
    }
    
    .solution-intro {
        width: 49%;
        padding: 0 2 0 0%;
    }
    
    .solution-stats {
        margin-top: 50px;
        border-left: 1px solid #ccc;
        padding-left: 60px;
        width: 32%;
    }

    #intro .solution-intro h1 {
        text-transform: uppercase;
        font-size: 40px;
        font-family: "AvenirNextLTPro-BoldCn",sans-serif;
        font-weight: 100;
        line-height: 1.1;
        color: inherit;
    }

    #intro .solution-intro p {
        padding-top: 10px;
        line-height: 32px;
        font-size: 24px;
        color: #8a9298;
        margin: 0 0 10px;
        padding-right: 60px
    }
    
    .solution-stats ul li,
    .solution-stats a {
        font-size: 16px;
    }
    
    .solution-stats a:hover {
        color: #1fb3ea;
    }
    
    .solution-stats ul li {
        margin-bottom: 6px;
    }
    
    /*********************************************************
    Case Study
    *********************************************************/
    body.page-template-template-casestudy-php #intro,
    body.case-studies #intro{
        padding-top: 180px;
        padding-bottom: 0;
    }
    
    body.page-template-template-casestudy-php .case-study,
    body.case-studies .case-study{
        border-top: 1px solid #ccc;
        margin-top: 80px;
        margin-bottom: 80px;
        padding-top: 50px;
    }
    
    body.page-template-template-casestudy-php .case-study:first-child,
    body.case-studies .case-study:first-child{
        margin-top: 60px;
    }
    
    body.case-studies .case-study:first-child{
        border: none;
    }
    
    body.page-template-template-casestudy-php .solution-intro h1 {
        padding-top: 50px;
    }
    
    body.page-template-template-casestudy-php .solution-stats {
        margin-top: 30px;
    }
    
    .case-study-img-gal {
        float: left;
        width: 30%;
        position: relative;
        margin-right: 4%;
        margin-top: 12px;
    }
    
    .case-study-img-gal img {
        max-width: 100%;
        display: block;
    }
    
    .case-study-img-gal a.blue-btn {
        position: absolute;
        bottom: 0;
        right: 0;
        left: auto;
        display: inline-block;
        z-index: 10;
        background-position: 90% 11px;
    }
    
    .case-study-img-gal .blue-hover {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 5;
        width: 100%;
        height: 100%;
        background-color: rgba(0,174,239,0.65);
        opacity: 0;
        webkit-transition: all .75s ease-out;
        -ms-transition: all .75s ease-out;
        transition: all .75s ease-out;
        cursor:pointer;
    }
    
    .case-study-img-gal:hover .blue-hover {
        opacity: 1;
    }
    
    .case-study-img-gal:hover .blue-btn {
        background-position: 95% 11px;
    }
    
    .case-study-content {
        float: left;
        width: 66%;
    }
    
    .case-study-content h2 {
        font-size: 48px;
        padding-bottom: 30px;
        padding-top: 0;
    }
    
    .case-study-content .case-study-col {
        float: left;
        margin-top: 30px;
        width: 47%;
        padding: 3%:
    }
    
    .case-study-content ul.first {
        margin-top: 0;
    }
    
    .case-study-content ul li {
        color: #1fb3ea;
        text-transform: uppercase;
        margin-bottom: 6px;
        font-size: 16px;
    }
    
    /*********************************************************
    Other Properties Carousel
    *********************************************************/
    #other-properties {
        border-top: 1px solid #ccc;
        padding: 80px 0 20px;
        position: relative;
    }
    
    #properties-title {
        position: absolute;
        top: 0;
        left: 0;
        padding: 10px 25px 8px;
        border: 1px solid #ccc;
        border-width: 0 1px 1px 1px;
        text-transform: uppercase;
        color: #ccc;
        font-family: "AvenirNextLTPro-Cn",sans-serif;
        font-size: 15px;
        color: #8a9298;
    }
    
    .blue-hover-case-properties {
        display: block;
        position: absolute;
        width: calc(100% - 25px);
        height: 100%;
        top: 0;
        left: 0;
        z-index: 10;
        opacity: 0;
        background-color: rgba(0,174,239,0.85);
        webkit-transition: all .75s ease-out;
        -ms-transition: all .75s ease-out;
        transition: all .75s ease-out;
        padding: 20px;
    }
    
    .blue-hover-case-properties:hover {
        opacity: 1;
    }
    
    .blue-hover-case-properties h4 {
        font-family: "AvenirNextLTPro-BoldCn", sans-serif;
        text-transform: uppercase;
        font-size: 24px;
        margin-bottom: 18px;
        color: #fff;
    }
    
    .blue-hover-case-properties p {
        font-family: "AvenirNextLTPro-Cn", sans-serif;
        text-transform: uppercase;
        font-size: 24px;
        color: #fff;
        line-height: 30px;
    }
    
    .owl-item {
        overflow: hidden;
    }
    
    .child-item img {
        display: block;
        max-width: 100%;
        margin: 0;
    }
    
    /*********************************************************
    About
    *********************************************************/
    body.about #intro h2 {
        text-transform: uppercase;
        line-height: 1.2;
    }
    
    body.about .col-l {
        width: 23%;
        margin-right: 2%;
    }
    
    body.about .col-r {
        width: 75%;
    }
    
    #about-overview .col50:first-child {
        float: left;
        width: 48%;
        margin-right: 2%;
    }

    #about-overview .col50:last-child {
        float: left;
        width: 48%;
        margin-left: 2%;
    }

    #about-overview .col50 h3 {
        font-size: 45px;
    }

    #about-overview .col50 h6 {
        font-size: 22px;
    }

    #about-overview .col50 p {
        font-size: 22px;
        line-height: 30px;
    }
    
    .about-countries,
    .about-units,
    .about-experience {
        float: left;
        position: relative;
        margin-top: 20px;
    }
    
    .about-countries {
        width: 18%;
    }
    
    .about-units {
        width: 33%;
    }
    
    .about-experience {
        width: 20%;
    }
    
    #about-stats {
        padding-bottom: 40px;
        margin-bottom: 60px;
    }
    
    #about-stats h3 {
        color: #1fb3ea;
        font-weight: normal;
        font-family: "AvenirNextLTPro-Cn",sans-serif;
        font-size: 100px;
        margin: 0;
        padding: 0;
        line-height: 1;
    }
    
    #about-stats span.yrs {
            margin-top: 21px;
    position: absolute;
    }
    
    #about-stats h3 sub {
        font-size: 39%;
        line-height: 0;
        position: relative;
        vertical-align: text-top;
        letter-spacing: 0.5px;
    }
    
    #about-stats p {
        text-transform: uppercase;
        font-family: "AvenirNextLTPro-BoldCn", sans-serif !important;
        color: #1fb3ea;
        font-size: 15px;
        letter-spacing: 0.25px;
        font-weight: lighter;
        letter-spacing: 0.5px;
    }
    
    #executive-team {
        padding-bottom: 60px;
    }
    
    #executive-team .col-padding {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    
    #executive-team h3 {
        font-size: 40px;
    }
    
    #executive-team h4 {
        font-size: 18px;
    }
    
    #executive-team h5 {
        font-size: 18px;
        padding-bottom: 10px;
    }
    
    #executive-team p {
        font-size: 18px;
        line-height: 1.4;
    }
    
    /*********************************************************
    News
    *********************************************************/
    #news-container {
        margin: 60px auto 0;
    }
    
    #news-l {
        width: 70%;
        float: left;
        margin-right: 5%;
    }
    
    #news-l h3 {
        font-family: "AvenirNextLTPro-Cn",sans-serif;
        font-size: 36px;
        font-weight: 100;
        line-height: 1.1;
        margin-bottom: 30px;
    }
    
    #news-l article {
        margin-bottom: 40px;
    }
    
    #news-l article:last-child {
        margin-bottom: 0;
    }
    
    #news-l article h2,
    #news-l article h2 a {
        font-size: 36px;
    }
    
    #news-l article h6 {
        font-size: 22px;
    }
    
    #news-l article p {
        font-size: 20px;
    }
    
    #news-r {
        width: 25%;
        float: left;
    }
    
    #news-r h3 {
        font-size: 22px;
        padding-bottom: 4px;
        margin-bottom: 14px;
        margin-top: 0;
    }
    
    #news-r ul {
        margin-bottom: 26px;
    }
    
    #news-r li {
        margin: 2px 0;
        padding: 0;
        border: none;
    }
    
    #news-r li a {
        font-size: 20px;
    }
    
    #news-r li a:hover {
        color: #444;
    }
    
    /*********************************************************
    Contact
    *********************************************************/
    body.contact #contact-section > .col-60, body.request-cad #contact-section > .col-60 {
        float: left;
        width: 58%;
        margin-right: 2%;
        border: none;
    }

    body.contact #contact-section > .col-60, body.city-parking-guidelines #contact-section > .col-60 {
        float: left;
        width: 58%;
        margin-right: 2%;
        border: none;
    }

    body.contact .col-60 h2 {
        font-size: 45px;
    }
    
    #contact-section {
        margin-top: 110px;
        margin-bottom: 60px;
    }

    body.contact .col-60 p {
        color: #8a9298;
        font-size: 21px;
        line-height: 30px;
        margin-bottom: 24px;
        width: 80%;
    }

    body.contact .col-60 a {
        color: #8a9298;
    }

    body.contact .col-60 a:hover {
        color: #1fb3ea;
    }

    body.contact #contact-section > .col-40, body.request-cad #contact-section > .col-40 {
        float: left;
        width: 38%;
        margin-left: 2%;
    }

    body.contact #contact-section > .col-40, body.city-parking-guidelines #contact-section > .col-40 {
        float: left;
        width: 38%;
        margin-left: 2%;
    }
    
    #contact-regions {
        padding-top: 60px;
        border-top: 1px solid #ccc;
    }
    
    #contact-regions h3 {
        font-size: 48px;
    }
    
    #contact-regions .col-33 {
        float: left;
        width: 33.333%;
    }

    /*********************************************************
    Contact an Expert
    *********************************************************/
    #contact-expert{
        border-bottom: 1px solid #ccc;
        padding-top: 80px;
        padding-bottom: 100px;
    }
    
    #contact-expert .td-50 {
        width: 65%;
    }
    
    #contact-expert .td-50:last-child {
        width: 35%;
        text-align: right;
    }
    
    #contact-expert .td-50 p {
        font-size: 55px;
        line-height: 1.1;
    }
    
    #contact-expert .td-50 a.blue-btn {
        margin-top: 0;
    }
    
    /*********************************************************
    Service Requests
    *********************************************************/
    #service-requests {
        padding: 80px 0;
    }

    #service-requests h3 {
        font-size: 45px;
    }

    #service-requests h4 {
        font-size: 22px;
        text-decoration: none;
    }

    #service-requests p {
        font-size: 22px;
        line-height: 30px;
    }
    
    /*********************************************************
    Footers
    *********************************************************/
    #footer-services {
        padding-top: 80px;
        padding-bottom: 100px;
    }
    
    #footer-services h3{
        display: block;
        color: #444;
        font-size: 45px;
        margin-bottom: 24px;
    }
    
    #footer-services ul{
        display: block;
        list-style: none;
    }
    
    #footer-services ul li{
        width: 19%;
        display: inline-block;
    }
    
    #footer-services ul li h5{
        font-size: 22px;
    }
    
    #footer-services ul li img{
        width: 100px;
        height: 100px;
    }
    
    #footer-services .svg-wrapper:hover svg path, 
    #footer-services .svg-wrapper:hover svg polygon, 
    #footer-services .svg-wrapper:hover svg rect, 
    #footer-services .svg-wrapper:hover svg circle {
        fill: #00a7e6;
    }

    footer {
        background-color: #1fb3ea;
        padding: 50px 0;
    }
    
    #footer-home {
        position: fixed;
        bottom: 0;
        height: 40px;
        width: 100%;
        z-index: 35;
        webkit-transition: all .75s ease-out;
        -ms-transition: all .75s ease-out;
        transition: all .75s ease-out;
        /* background-color: rgba(23,23,23, 0.1); */
    }
    
    body.home footer {
        position: fixed;
        bottom: -300px;
        z-index: 40;
        width: 100%;
        padding: 25px 0 0;
        webkit-transition: all .75s ease-out;
        -ms-transition: all .75s ease-out;
        transition: all .75s ease-out;
    }
    
    body.home-footed footer {
        position: fixed;
        bottom: 0;
        z-index: 40;
        width: 100%;
        padding: 25px 0 0;
    }
    
    body.home-footed #footer-home {
        bottom: -40px;
    }

    footer .col-l,
    body.about footer .col-l{
        width: 42%;
        margin-right: 8%;
    }
    
    footer .col-r,
    body.about footer .col-r,
    body.solutions footer .col-r {
        margin-left: 5%;
        width: 45%;
        float: left;
    }
    
    footer .col-r ul {
        display: inline-block;
        float: left;
        width: 25%;
        margin-top: 22px;
        margin-bottom: 45px;
    }
    
    footer .col-r ul li a {
        margin-left: 0;
    }  
    
    footer .col-r ul li a:hover {
        color: #aee4f8;
    } 
    
    footer .col-r ul:nth-child(3) {
        width: 18%;
    }
    
    footer .col-r ul:nth-child(4) {
        width: 32%;
    }
    
    footer .col-r ul li {
        display: list-item;
        text-transform: uppercase;
        margin-bottom: 8px;
        list-style-type: none;
        padding-left: 0;
        color: #8a9298;
        font-size: 15px;
    }
    
    /*****************************************************
    Gallery
    *****************************************************/    
    .gallery-overlay {
        height: 100%;
        /*
        height: calc(100% - 120px);
        top: 120px;
        */
    }
    
    .gallery-overlay-close {
        top: 20px;
        right: 20px;
    }
    
    .gallery-overlay-slides {
        width: 80%;
        height: 80%;
        overflow: hidden;
    }
    
    .gallery-overlay-slides .overlay-slide {
        cursor: pointer;
    }
    
    .gallery-overlay-prev,
    .gallery-overlay-next {
        position: absolute;
        display: block;
        width: 57px;
        height: 47px;
        z-index: 2500;
        right: -1px;
        top: 50%;
        margin-top: -22px;
    }
    
    .gallery-overlay-prev {
        right: auto;
        left: -1px;
    }

    .gallery-overlay-prev svg,
    .gallery-overlay-next svg {
        width: 57px;
        height: 47px;
        cursor: pointer;
    }
    
    .gallery-overlay-prev svg .button,
    .gallery-overlay-next svg .button{
        -webkit-transition: all .5s ease-out;
        -moz-transition: all .5s ease-out;
        -ms-transition: all .5s ease-out;
        -o-transition: all .5s ease-out;
        transition: all .5s ease-out;
        fill: #1fb3ea;
    }
    
    .gallery-overlay-prev svg .arrow,
    .gallery-overlay-next svg .arrow{
        fill: #fff;
        transform: translateX(0);
        -webkit-transition: all .35s ease-out;
        -moz-transition: all .35s ease-out;
        -ms-transition: all .35s ease-out;
        -o-transition: all .35s ease-out;
        transition: all .35s ease-out;
    }

    .gallery-overlay-prev svg:hover .button,
    .gallery-overlay-next svg:hover .button {
        fill: #000;
    }
    
    .gallery-overlay-prev svg:hover .arrow {
        transform: translateX(-6px);
    }
    
    .gallery-overlay-next svg:hover .arrow {
        transform: translateX(6px);
    }
    
    .gallery-overlay-prev-bottom {
        top: 0 !important;
    }
    
    .gallery-overlay-prev-top {
        top: 16px !important;
    }
    
    .gallery-overlay-nav {
        height: 10%;
    }
    
    .gallery-overlay-nav ul li {
        width: 20px;
        height: 20px;
        margin: 0 5px;
    }
}

@media screen and (max-height: 800px) and (min-width: 960px) {
    #section-4 .content {
        top: 0%;
        -webkit-transform: translateY(8%);
        -ms-transform: translateY(8%);
        transform: translateY(8%);
    }
}

@media screen and (max-height: 900px) and (min-width: 960px) {
    #section-4 .content {
        top: 0%;
        -webkit-transform: translateY(12%);
        -ms-transform: translateY(12%);
        transform: translateY(12%);
    }
}

@media screen and (min-width: 1100px) {
    .contained,
    .header-contained{
        max-width: 1100px;
        padding: 0;
    }
    
    body.page-template-template-casestudy-php .case-study {
        padding-top: 50px;
    }
    
    .col-padding {
        padding: 30px 0;
    }
    
    #intro {
        padding: 110px 0;
    }
    
    #home .home-container {
        padding-left: 0;
        padding-right: 0;
    }

}

/*//////////////////////////////////////////////////////////////////////////////////////
iPads (Landscape)
//////////////////////////////////////////////////////////////////////////////////////*/
@media only screen and (min-device-width : 768px) and 
(max-device-width : 1024px) and (orientation : landscape) {
    header {
        height: 85px;
        width: 100%;
    }

    .header-contained {
        height: 85px;
    }
    
    #nav-mobile {
        height: calc(100% - 85px);
        top: 85px;
    }
    
    #header-button {
        top: 34px;
    }
    
    body.menu {
        overflow: hidden;
        position: fixed;
    }
    
    #menu-main-menu li a {
        padding-top: 28px;
        height: 53px;
    }
    
    #title-banner {
        margin-top: 85px;
    }
    
    /*********************************************************
    Homepage
    *********************************************************/
    
    /************* Section 0 *************/
    #section-0 h1 {
        font-size: 90px;
        line-height: 80px;
        max-width: 80%;
    }
    
    /************* Section 1 *************/
    #section-1 .content {
        top: 24%;
        -webkit-transform: translateY(24%);
        -ms-transform: translateY(24%);
        transform: translateY(24%);
    }

    /************* Section 2 *************/


    /************* Section 3 *************/
    #section-3 .content {
        top: 26%;
        -webkit-transform: translateY(26%);
        -ms-transform: translateY(26%);
        transform: translateY(26%);
    }

    /************* Section 4 *************/




}.youtube-container {
position: relative;
padding-bottom: 56.25%;
padding-top: 30px; height: 0; overflow: hidden;
}
 
.youtube-container iframe,
.youtube-container object,
.youtube-container embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}
